.dark {
    background-color: rgb(36, 35, 35);
    border-color: white;
}

.light {
    background-color: rgb(235, 233, 233);
}

.toggle {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.toggle button {
    border-radius: 30px;
    height: 40px;
    width: 130px;
}